@font-face {
    font-family: "Silkscreen-Regular";
    src: url(font/Silkscreen-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Light";
    src: url(font/Roboto-Light.ttf);
}

body {
    margin: 0;
    background-color: #1F2937;
}

.container {
    display: block;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 0;
    text-align: left;
}

.btn-container {
    display: flex;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.btn-group {
    display: flex;
    padding-left: 50px;
}

h1 {
    font-size: 40px;
    font-family: "Silkscreen-Regular";
    color: white;
    margin: 0;
}

.lower {
    color: #4ADF86;
}

p {
    font-family: "Roboto-Light";
    color: white;
}

button {
    width: 220px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-family: "Silkscreen-Regular";
    background-color: #44cb7a;
}

.NumOfChar {
    width: 80px;
    height: 40px;
    margin-left: 50px;
    background-color: orange;
}

.on {
    width: 120px;
    height: 40px;
    margin-left: 50px;
}

.off {
    width: 120px;
    height: 40px;
    margin-left: 50px;
    background-color: red;
}

.password {
    font-family: "Roboto-Light";
    margin-right: 20px;
    color: #55F991;
    background-color: #273549;
}